[Unit]
Description=Daily Solar Summary
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/home/vasi/Escritorio/vision/software/vision/src
ExecStart=/home/vasi/Escritorio/vision/venv/bin/python /home/vasi/Escritorio/vision/software/vision/src/daily_solar_summary.py
TimeoutStartSec=60
