[Unit]
Description=Solar Production Monitor
After=network.target

[Service]
Type=oneshot
User=vasi
WorkingDirectory=/home/vasi/Escritorio/vision/software/vision/src
EnvironmentFile=/etc/solar-monitor/production.env
ExecStart=/home/vasi/Escritorio/vision/venv/bin/python /home/vasi/Escritorio/vision/software/vision/src/run_solar_monitor.py

[Install]
WantedBy=multi-user.target
