[Unit]
Description=Run Sun Times Cache Update Daily

[Timer]
OnCalendar=*-*-* 23:50:00
Persistent=true
Unit=sun_times_cache.service

[Install]
WantedBy=timers.target
